.bucket-shape {
  background: #000000 url("bucket-filled.png") no-repeat;
  background-size: contain;

  width: 400px;
  height: 300px;
}

.drain-shape {
  background: #666666 ;
  height: 400px;
  width: 300px;
}

.drain-canvas {
  height: 300px;
  width: 300px;
}
